<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <style>
    form { width: 500px; padding: 1em 3em; } 
    button { margin-left: 1em; }
  </style>
</head>
<body>
<div class="container">	
 <form method="post" th:object="${student}" class="shadow">
    <h1>학생 수정</h1>
    <div class="row">
      <label>학번:</label>
      <input type="text" th:field="*{studentNo}" />
    </div>
    <div class="row">
      <label>이름:</label>
      <input type="text" th:field="*{name}" />
    </div>
    <hr />    
    <button type="submit" class="btn">저장</button>
    <span class="error" th:text="${ errorMsg }"></span>
  </form>
</div>
</body>
</html>
