<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
</head>
<body>
<div class="container">
  <h1>학생목록</h1>
  <table class="list">
    <thead>
      <tr>
        <th>id</th>
        <th>학번</th>
        <th>이름</th>
        <th>학과</th>
        <th>전화</th>
        <th>성별</th>
        <th>이메일</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="st : ${ students }">
        <td th:text="${ st.id }"></td>
        <td th:text="${ st.studentNo }"></td>
        <td th:text="${ st.name }"></td>
        <td th:text="${ st.departmentName }"></td>
        <td th:text="${ st.phone }"></td>
        <td th:text="${ st.sex }"></td>
        <td th:text="${ st.email }"></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
